val DOCKER_BASE_USERNAME by extra { "<USERNAME>" }
val DOCKER_BASE_PASSWORD by extra { "<PASSWORD>" }

val DOCKER_TARGET_IMAGE by extra { "<TARGET_IMAGE>" }
val DOCKER_TARGET_USERNAME by extra { DOCKER_BASE_USERNAME }
val DOCKER_TARGET_PASSWORD by extra { DOCKER_BASE_PASSWORD }
